FOOTBALL_PROVIDER=thesportsdb

THESPORTSDB_API_KEY=123
THESPORTSDB_BASE_URL=https://www.thesportsdb.com/api/v1/json
THESPORTSDB_LEAGUE_ID=4406
THESPORTSDB_SEASON=2026
THESPORTSDB_TIMEZONE=America/Argentina/Cordoba
THESPORTSDB_FROM=
THESPORTSDB_TO=
THESPORTSDB_ROUND_FROM=1
THESPORTSDB_ROUND_TO=5
THESPORTSDB_FIXTURES_TTL_SECONDS=1800
THESPORTSDB_DETAIL_TTL_SECONDS=1800
THESPORTSDB_STATIC_TTL_SECONDS=21600

API_FOOTBALL_KEY=
API_FOOTBALL_BASE_URL=https://v3.football.api-sports.io
API_FOOTBALL_LEAGUE_ID=128
API_FOOTBALL_SEASON=2026
API_FOOTBALL_TIMEZONE=America/Argentina/Cordoba
API_FOOTBALL_FROM=
API_FOOTBALL_TO=
API_FOOTBALL_FIXTURES_TTL_SECONDS=1800
API_FOOTBALL_DETAIL_TTL_SECONDS=1800
API_FOOTBALL_STATIC_TTL_SECONDS=21600

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
